*{
	font-family: 'Cairo', sans-serif;
}

html, body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.navbar{
	padding: 15px;
}

.navbar-brand img{
	width: 200px;
}

.nav-item{
	margin: 0 20px;
}

.nav-link{
	font-weight: 700;
}

.nav-item .btn{
	padding: .375rem 1.75rem;
	font-weight: 700;
}

.navbar .btn{
	border-radius: 30px;
}

.ml-auto{
	margin-left: auto !important;
}

.ms-n5 {
	margin-left: -40px;
}

input:placeholder-shown {
	font-style: italic;
}

.form-control::placeholder {
	color: #6c757d85;
	opacity: 1;
}


header{
	height: 80vh;
	min-height:100%;
	background: linear-gradient(0deg, rgba(0, 44, 90, 0.77), rgba(0, 44, 90, 0.77)), url('../images/header_bg.jpg');
	background-size:cover;
}

header h1{
	font-size: 2.9rem;
	font-weight: 900;
	color: #fff;
	line-height: 2;
}

header p{
	color: #fff;
}

@media screen and (max-width: 769px){
	.nav-item .btn {
		padding: .375rem 1.75rem;
		font-weight: 700;
		width: 100%;
		margin-bottom: 10px;
	}

	header{
		height: 60vh;
	}

	header h1 {
		font-size: 2.9rem;
		font-weight: 900;
		color: #fff;
		line-height: 1;
		margin-bottom: 45px;
	}
}


section{
	padding: 100px;
}

section .section-title{
	font-size: 3rem;
	font-weight: 900;
}

section .section-info{
	text-align: justify;
}

.about-section{
	/*height: 400px;*/
	min-height:50%;
	background: url('../images/about_bg.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

.bg-blue{
	background: #2F79DD !important;
}

.bg-orange{
	background: #E1473D !important;
}

.bg-light-gray{
	background: #F1F1F1 !important;
}


.fw-900{
	font-weight: 900;
}

.text-left{
	text-align: left;
}

section .section-icon img{
	height: 100px;
	width: 100px !important;
}

.choose-us .choose-us-text{
	position: absolute;
	top: 90px;
}

section .model-icon img{
	height: 50px;
	width: 50px !important;
}

section.promise{
	min-height:100%;
	background: url('../images/promise_bg.png');
	background-size:cover;
	background-attachment: fixed;
}


.counters p{
	color: #fff;
}

.counters .counter-text p:first-child{
	font-size: 3rem;
}

.counters .col-md-3:not(:first-child){
	border-left: 1px solid #ffffff7a;
}


.testimonials-figure {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	display: inline-block;
	font-size: 14px;
	margin: 35px 10px 10px;
	max-width: 347px;
	min-width: 250px;
	position: relative;
	text-align: center;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border-top: 5px solid #E1473D;
}

.testimonials-figure *,
.testimonials-figure *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.testimonials-figure figcaption {
	padding: 13% 10% 12%;
}

.testimonials-figure figcaption:before {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #47D4E0;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	color: #fff;
	content: '\f10d';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 32px;
	font-style: normal;
	left: 50%;
	line-height: 60px;
	position: absolute;
	top: -30px;
	width: 60px;
	height: 60px;
}

.testimonials-figure h3 {
	color: #3c3c3c;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin: 10px 0 5px;
}

.testimonials-figure h4 {
	font-weight: 400;
	margin: 0;
	opacity: 0.5;
}

.testimonials-figure blockquote {
	text-align: left;
	font-weight: 300;
	margin: 0 0 20px;
}

.testimonials-figure .section-icon-text {
	font-size: 12px;
}


.slick-icon{
	padding: 0 10px;
	cursor: pointer;
}

.slick-prev, .slick-next{
	display: none !important;
}

.slick-track{
	opacity: 1;
	width: 3180px;
	/*transform: translate3d(-657px, 0px, 0px) !impor;*/
}


.footer{
	padding: 60px 0px 10px;
	background-color: #002C5A;
}
.footer .footer-top-url li{
	margin: 20px;
}
.footer .footer-top-url li a,
.footer .footer-bottom-url li a{
	color: #fff;
	text-decoration: none;
}

.footer .footer-bottom-url li,
.footer .footer-bottom p{
	margin: 20px;
}

@media screen and (max-width: 769px){
	section{
		padding: 100px 10px;
	}

	.side-cart-img img{
		width: 100%;
	}

	.choose-us{
		padding: 50px 10px;
	}

	.choose-us img{
		width: 100%;
		height: 210px !important;	
	}

	.choose-us .p-5{
		padding: 5px !important;
	}

	.promise .section-icon-text{
		text-align: center;
	}

	section.promise{
		/*padding: 20px 10px;*/
		min-height: 50% !important;
		background: linear-gradient(0deg, rgba(0, 44, 90, 0.77), rgba(0, 44, 90, 0.77)), url('../images/promise_bg_sm.png');
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	.counters .col-md-3:not(:first-child){
		border-left: none;
	}

	.testimonials, .testimonials p{
		text-align: center;
	}
	.testimonials-figure{
		max-width: 324px;
	}

	.footer .footer-top-url{
		display: flex;
		flex-flow: wrap;
		justify-content: center;
	}

	.footer .footer-top-url li{
		margin-bottom: 0px;
	}
}


/*track shipment*/

.track-shipment-header{
	/*height: 60vh;*/
	min-height: 70%;
	background: #F4F4F4;
	padding: 50px 10px;
}

.track-shipment-header h1{
	font-size: 2.9rem;
	font-weight: 900;
	color: #000;
	line-height: 2;
}

.track-shipment-header p{
	color: #000;
	text-align: justify;
}

.track-shipment-header img{
	width: 85%;
	margin-left: auto;
}


.tracking-info .track-box{
	position: relative;
}

.tracking-info .track-icon{
	padding: 6px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

.tracking-info .track-line{
	border: 2px solid;
	position: absolute;
	height: 31px;
	left: 16px;
	top: -26px;
}


@media screen and (max-width: 769px){

	.track-shipment-header .col-md-6{
		margin-bottom: 35px !important;	
	}

	.track-shipment-header{
		min-height: 70%;
	}

	.track-shipment-header h1 {
		font-size: 2.9rem;
		font-weight: 900;
		color: #000;
		line-height: 1;
		margin-bottom: 45px;
	}

	.track-shipment-header button{
		float: none !important;
	}

	.track-shipment-header img{
		width: 100%;
		margin: 0 auto;
	}

	.tracking-info .col-md-5{
		padding-left: 94px;
	}

	.tracking-info h3{
		text-align: center !important;
	}

	.tracking-info .track-box{
		margin: 0 auto;
	}
}
