*{
	font-family: 'Cairo', sans-serif;
}

html, body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.navbar{
	padding: 15px;
}

.navbar-brand img{
	width: 200px;
}

.nav-item{
	margin: 0 20px;
}

.nav-link{
	font-weight: 700;
}

.nav-item .btn{
	padding: .375rem 1.75rem;
	font-weight: 700;
}

.navbar .btn{
	border-radius: 30px;
}

.ml-auto{
	margin-left: auto !important;
}

.ms-n5 {
	margin-left: -40px;
}

input:placeholder-shown {
	font-style: italic;
}

.form-control::placeholder {
	color: #6c757d85;
	opacity: 1;
}


header{
	height: 80vh;
	min-height:100%;
	background: linear-gradient(0deg, rgba(0, 44, 90, 0.77), rgba(0, 44, 90, 0.77)), url('../images/header_bg.jpg');
	background-size:cover;
}

header h1{
	font-size: 2.9rem;
	font-weight: 900;
	color: #fff;
	line-height: 2;
}

header p{
	color: #fff;
}

@media screen and (max-width: 769px){
	.nav-item .btn {
		padding: .375rem 1.75rem;
		font-weight: 700;
		width: 100%;
		margin-bottom: 10px;
	}

	header{
		height: 60vh;
	}

	header h1 {
		font-size: 2.9rem;
		font-weight: 900;
		color: #fff;
		line-height: 1;
		margin-bottom: 45px;
	}
}


section{
	padding: 100px;
}

section .section-title{
	font-size: 3rem;
	font-weight: 900;
}

section .section-info{
	text-align: justify;
}

.about-section{
	min-height:100%;
	background: url('../images/about_bg.png');
	background-size:cover;
}

.bg-blue{
	background: #2F79DD !important;
}

.bg-orange{
	background: #E1473D !important;
}

.fw-900{
	font-weight: 900;
}

.text-left{
	text-align: left;
}

section .section-icon img{
	height: 100px;
	width: 100px !important;
}

.choose-us .choose-us-text{
	position: absolute;
	top: 90px;
}

section .model-icon img{
	height: 50px;
	width: 50px !important;
}

section.promise{
	min-height:100%;
	background: url('../images/promise_bg.png');
	background-size:cover;
}

@media screen and (max-width: 769px){
	section{
		padding: 100px 10px;
	}

	.side-cart-img img{
		width: 100%;
	}

	.choose-us .p-5{
		padding: 5px !important;
		/*text-align: center !important;*/
		/*display: flex;*/
	}
	/*.choose-us .choose-us-text{
		margin:  0 auto !important;
	}

	.choose-us img{
		margin:  0 auto !important;
	}*/

	.promise .section-icon-text{
		text-align: center;
	}

	section.promise{
		min-height:100%;
		background: url('../images/promise_bg.png');
		background-size:cover;
	}
}